q1_solutions 1.0.pdf
q1.html
q2.html
devoir-1/Autres propositions/AtoMacho - Question_1 1.0.ipynb
devoir-1/Autres propositions/AtoMacho - Question_1 1.1.ipynb
devoir-1/Autres propositions/AtoMacho - Question_4 1.0.jpg
devoir-1/Autres propositions/AtoMacho - Question_4 2.0.jpg
devoir-1/Autres propositions/Roman - Question 2.0.pdf
devoir-1/Autres propositions/Roman - Question 2.1.pdf
devoir-1/Autres propositions/AtoMacho - Question_3a.pdf
devoir-1/Autres propositions/AtoMacho - Question_3b.pdf
devoir-1/Autres propositions/Question 1 FINAL.pdf
devoir-1/Autres propositions/Question 2 FINAL.pdf
devoir-1/Autres propositions/Question 4 FINAL.pdf
devoir-1/Autres propositions/Question 3 FINAL.pdf
commit_history.txt
devoir-3/dev.ipynb
devoir-4/propositions/Devoir-4-page.ipynb
