devoir1.pdf
q1_solutions 1.0.pdf
q1.html
q2.html
Autres propositions/AtoMacho - Question_1 1.0.ipynb
Autres propositions/AtoMacho - Question_1 1.1.ipynb
Autres propositions/AtoMacho - Question_4 1.0.jpg
Autres propositions/AtoMacho - Question_4 2.0.jpg
Autres propositions/Roman - Question 2.0.pdf
Autres propositions/Roman - Question 2.1.pdf
